@media screen and (max-width: 1000px){
    header{
        height: 58vh;
    }
    nav{
        flex-direction: column;
    }

    .slider{
        height: 23vh;
    }

    .logo{
        justify-content: center;
        /* margin: 15px 230px; */
        width: 33vh;
    }

    nav ul{
        justify-content: center;
        margin: 0;
    }

    .search{
        justify-content: center;
    }

    .search input{
       width: 35vw;
    }

    nav ul {
        height: 58px;
    }
    .select{
        position: absolute;
        left: 20px;
        top: 170px;
    }
    .cart{
        position: absolute;
        left: 159px;
        top: 171px;
    }
    .card-item img{ 
        width: 140px;
        display: flex;
        justify-content: center;
    }
    .cards{
        overflow: scroll;
        display: flex;
        justify-content: center;
    }
}
    
